.box {
  background-color: #91AECF;
  border-radius: 50px;
  width: 100%;
  height: min-content;
}

.subbox {
  background-color: #91AECF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
}

.box input {
  background-color: #91AECF;
  width: 100%;
  display: block;
  font-size: 70px;
  width: 90%;
  height: 80px;
  border: none;
  text-transform: uppercase
}

.box input:focus {
  outline: none
}

.box input::selection {
  color: black;
  background-color: #c47ac89a
}

.magnify {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 20px;
  z-index: 2;
}

.box .magnify:hover {
  background-color: #421f449a;
  border-radius: 50%;
}

.locdot {
  background: transparent;
  border: none;
  cursor: default;
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 12px 20px;
  z-index: 2;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 0;
  transition: height 0.2s linear;
}

.img-div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-left: 40px;
}

.imagen {
  width: 500px;
  height: 500px;
}

.descripcion {
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 500;
}

.wrapinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.weather {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.temperature {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-right: 80px;
}

.maxmin {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 10px;
}

.currentTemp {
  font-size: 100px;
  font-weight: 500;
}

.maxTemp {
  font-size: 32px;
  font-weight: 600;
}

.minTemp {
  font-size: 32px;
  font-weight: 600;
}

.extra-info {
  display: flex;
  justify-content: center;
}

.wind-beaufort {
  width: 300px;
  height: 300px;
}

.humidity-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 85px;
}

.humidity-text {
  margin: 0;
  font-weight: 600;
}

.container-timezone {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  padding-right: 85px;
  padding-top: 20px;
}

.timezone {
  height: fit-content;
  padding-left: 40px;
  font-size: 20px
}